body {
    font-size: small;
    font-family: Helvetica, sans-serif;
}

textarea {
    width: 100%;
    height: 60px;
    display: block;
}
    
table#slider-table {
    width: 100%;
    }
    
td.slider-label {
    width: 10%;
    font-size: x-small;
    }
    
table#layout {
    width: 100%;
    }
    
table#layout td {
    vertical-align: top;
    padding: 10px;
    }

table#layout td#image-cell {
    vertical-align: middle;
    text-align: center;
    font-size: x-large;
    background-color: #ccc;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 60%;
    }

/* Review page styles */

table#reviews-table {
    width: 100%;
    border-collapse: collapse;
    }

table#reviews-table th {
    text-align: left;
    }

table#reviews-table td {
    vertical-align: top;
    border-top: 1px solid #ccc;
    width: 25%;
    padding: 0.5em 0 1em 0;
    }

table#reviews-table label {
    display: block;
    }

/* Dashboard styles */

a.nav-image {
    float: left;
    margin: 0 1em 1em 0; padding: 0;
    width: 100px;
    }

a.nav-image.selected {
    border: 5px solid lightblue;
    width: 300px;
    margin-bottom: 2em;
    }

a.nav-image img {
    width: 100%;
    margin: 0; padding: 0;
    }

div.line {
    clear: both;
    border-bottom: 1px solid #ccc;
    margin: 1em 0;
    }

table#agg-reviews {
    border-collapse: collapse;
    width: 100%;
    }

table#agg-reviews td, table#agg-reviews th {
    padding: 0.5em;
    border: 1px solid #ccc;
    }

.centered {
    text-align: center;
    }
